header {
    max-width: 1440px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: 0 auto 2px;
}

header .container {
    height: 120px;
    margin: auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
header .logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

header .logo {
    width: 195px;
    height: 50px;
}

header .logo .logo-link .mobile-svg {
    display: none;
}

/* Back Button */
header .container .back-button-container .back-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 125px;
}

header .container .back-button-container .back-btn span.arrow-left {
    margin-right: 10px;
}

header .container .back-button-container .back-btn {
    text-decoration: none;
    color: black
}

/* Search Bar */
header .search-btn {
    padding: 0;
    height: 28px;
    width: 28px;
    background-color: #fff;
    border-radius: 0;
    border-color: #000;
    border-width: 1px;
    cursor: pointer;
}

header .searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .searchbar {
    border: none;
    height: 24px;
    width: 172px;
}

header ::placeholder {
    text-align: end;
}

@media screen and (max-width: 768px) {
    header .container {
        padding: 0 15px;
    }

    header .logo {
        width: 100%;
    }

    header .logo .logo-link {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
    }

    header .logo .logo-link svg.desktop-svg {
        display: none;
    }
    
    header .logo .logo-link svg.mobile-svg {
        display: inline;
    }

    header .searchbar {
        width: 100%;
        max-width: 172px;
    }

    header .search-btn {
        border: none;
    }
}